.wrapper {
	width: 100%;
	max-width: 300px;
	height: 100%;
	padding: 15px;
	align-items: flex-start;
	border: 3px solid #61dafb;
	border-radius: 2px;
	color: #61dafb;
}

.btn_wrapper {
	display: flex;
	justify-content: center;
	padding: 15px;
	border: 2px solid #61dafb;
	border-radius: 2px;
}

.value_wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.span {
	margin-bottom: 20px;
}


.input {
	background-color: #fff;
	color: black;
	text-align: center;
}

.button {
	color: #000;
}

.error {
	opacity: 0.5;
	color: black;
}

.error_in{
	border: 1px solid #61dafb;
	background-color: rgba(255, 135, 135, 0.5);
	text-align: center;
}